
$font-family: "Open Sans";
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$var-font-size-1: 1.75rem;
$var-font-size-2: 1.5rem;
$var-font-size-3: 1.375rem;
$var-font-size-4: 1.25rem;
$var-font-size-5: 1.125rem;
$var-font-size-6: 1rem;
$var-font-size-7: 0.875rem;
$var-font-size-8: 0.75rem;
$var-font-size-9: 0.625rem;
$line-height-heading: 2.25rem;
$line-height-title: 2rem;
$line-height-subheading: 1.75rem;
$line-height-body: 1.5rem;
$line-height-paragraph: 1.25rem;
$line-height-small-paragraph: 1rem;
$letter-spacing-narrow: -2%;
$letter-spacing-xnarrow: -3%;
$letter-spacing-normal: -1%;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$black-gray-1: rgb(40, 40, 40);
$black-gray-2: rgb(89, 89, 89);
$black-gray-3: rgb(226, 226, 226);
$black-gray-4: rgb(250, 250, 250);
$accent-red-1: rgb(171, 38, 52);
$accent-red-2: rgb(128, 13, 21);
$accent-red-3: rgb(154, 28, 39);
$accent-red-4: rgb(230, 190, 194);
$accent-blue-1: rgb(205, 229, 239);
$accent-blue-2: rgb(193, 222, 235);
$accent-blue-3: rgb(174, 211, 228);
$accent-blue-4: rgb(220, 237, 244);
$accent-blue-5: rgb(240, 247, 250);
$color-border-gray-1: rgb(40, 40, 40);
$color-border-gray-3: rgb(225, 225, 225);
$color-background-gray-1: rgb(40, 40, 40);
$color-background-accent-red: rgb(171, 38, 52);
$color-background-accent-blue: rgb(205, 229, 239);
$color-background-white: rgb(255, 255, 255);
$color-text-gray-1: rgb(40, 40, 40);
$color-text-gray-2: rgb(89, 89, 89);
$color-text-red: rgb(171, 38, 52);
$color-text-white: rgb(255, 255, 255);
$var-spacing-xsmall: 4px;
$var-spacing-small: 8px;
$var-spacing-quite-small: 12px;
$var-spacing-base: 16px;
$var-spacing-big: 24px;
$var-spacing-large: 32px;
$var-spacing-xlarge: 40px;
$var-layout-spacing-base: 16px;
$var-layout-spacing-big: 24px;
$var-layout-spacing-large: 32px;
$var-layout-spacing-xlarge: 48px;
$var-layout-spacing-xxlarge: 64px;
$border-width-thin: 1px;
$icon-small: 16px;
$icon-medium: 24px;
$icon-big: 32px;
$icon-huge: 40px;
$mq-small: "max-width: 599px";
$mq-medium: "min-width: 600px";
$mq-large: "min-width: 960px";
$mq-xlarge: "min-width: 1440px";
$border-radius-none: 0%;
$border-radius-circle: 50%;
